aiogram~=3.19.0
protobuf~=5.29.4
langchain-huggingface==0.1.2
loguru==0.7.3
chromadb==0.5.0
sentence-transformers==3.4.1
langchain-chroma==0.2.0
pydantic-settings==2.8.1
langchain-text-splitters==0.3.7
langchain-google-genai==2.1.0
